<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blogs</title>
  </head>
  <body>
    <h1>Look at my blog :)</h1>
    <p>
    <ul>{{#each blogs}}
      <li><a href = '#'> {{title}}</li>
      {{/each}}
    </ul>
    </p>

  </body>
</html>
